body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;

  margin: 0 50px;
}

  /* HEADER */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 10vh;
  padding: 0 5px;
}

.logo {
  width: 61.09px;
  height: 19px;
}

.nav-header {
  height: 100%;
}

.nav-header ul {
  display: flex;

  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-header li {
  display: flex;
  list-style: none;
  align-items: center;

  margin: 0 5px;
  padding: 0 20px;
}

.nav-header a {
  text-decoration: none;
  color: #000000;
}

.nav-header li:hover {
  border-top: solid 2px #0065FC;
}

.nav-header li:hover a {
  position: relative;
  bottom: 1px;

  font-weight: 500;
  color: #0065FC;
}

  /* MAIN */

h1 {
  font-weight: 700;
}

h2 {
  font-size: 1em;
  font-weight: 400;
}

.info {
  display: flex;
  align-items: center;
}

.icon-info {
  font-size: 8px;
  color: #0065FC;
  padding: 3px 6px;
  border: solid 1px #d9d9d9;
  border-radius: 50%;
  margin-right: 5px;
}

.cards-result {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cards-hebergement {
  padding: 20px 30px;
  background-color: #d9d9d9;
  border-radius: 10px;
  width: 100%;
}

.cards-title {
  font-size: 1em;
  font-weight: 700;
  margin: 10px;
}

.cards-hebergement div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards-hebergement a {
  text-decoration: none;
  font-weight: 700;
  color: #000000;
  margin: 10px;
}

.card-herbegement {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  width: 30%;
  height: 200px;
  border-radius: 10%;
  margin: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.card-herbegement img {
  width: 97%;
  height: 70%;
  border-radius: 10% 10% 0 0;
  padding: 5px;
}

.card-herbegement h3 {
  font-size: 1em;
  font-weight: 700;
  margin: 0;
}

.card-herbegement p {
  font-size: 0.8em;
  font-weight: 600;
  margin: 0;
}

.star-active {
  color: #0065FC;
  width: 10%;
}

.star-inactive {
  color: #d9d9d9;
  width: 10%;
}

.cards-result aside {
  background-color: #d9d9d9;
  border-radius: 10px;
  width: 30%;
  height: 100%;

  margin-left: 50px;
  padding: 10px 30px;
}

.card-aside {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  height: 150px;

  border-radius: 5px;
}

.card-aside img {
  border-radius: 5px;
}

  /* FOOTER */
footer {
  display: flex;
  flex-direction: row;

  background-color: #d9d9d9;
}

.section-footer {
  padding: 30px 180px;
}

.section-footer h2 {
  font-weight: 700;
}

.section-footer ul {
  padding: 0;
}

.section-footer li {
  list-style: none;
  padding: 5px 0px;
}

.section-footer a {
  text-decoration: none;
  color: #000000;
}
