/* 
--------------------------------------------------------------------------
----------------------- 992px <= DESKTOP <= 1400px -----------------------
-------------------------------------------------------------------------- 
*/
body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: auto;
  max-width: 1400px;
  padding: 0 50px;
}

.prix {
  font-weight: 600;
}

/* HEADER */
header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-between;
  width: 100%;
}

.logo {
  height: 19px;
  width: 61.09px;
}

.nav-header {
  height: 100%;
}

.nav-header ul {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-header li {
  align-items: center;
  display: flex;
  list-style: none;
  padding: 0 20px;
}

.nav-header a {
  color: #000000;
  text-decoration: none;
}

.nav-header li:hover {
  border-top: solid 3px #0065fc;
}

.nav-header li:hover a {
  bottom: 1.5px;
  color: #0065fc;
  position: relative;
}

/* MAIN */

.main-title {
  font-size: 1.5em;
  font-weight: 700;
}

.main-subtitle {
  font-size: 1.3em;
  font-weight: 400;
}

h3 {
  font-size: 1.2em;
}

/* SEARCH BAR */

.search-bar {
  display: flex;
  height: 50px;
  margin: 15px 0;
}

.icon-searchbar {
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  display: flex;
  padding: 0 15px;
}

.search-bar input {
  border: none;
  border-bottom: solid 2px #f2f2f2;
  border-top: solid 2px #f2f2f2;
  font-size: 1em;
  font-weight: 700;
  height: 100%;
  padding: 0 15px;
}

.search-bar input::placeholder {
  color: #000000;
}

.search-bar input:focus {
  outline: #f2f2f2;
}

.button-searchbar {
  align-items: center;
  background-color: #0065fc;
  border: none;
  border-radius: 0 15px 15px 0;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 700;
  height: 100%;
  padding: 0 20px;
}

.button-searchbar span {
  padding-left: 15px;
}

/* FILTER */

.filters {
  align-items: center;
  display: flex;
  font-weight: 700;
  margin: 20px 0;
  padding: 0;
}

.filters-title {
  margin-right: 20px;
}

.filters > div {
  display: flex;
}

.filter {
  border: solid 2px #f2f2f2;
  border-radius: 20px;
  cursor: pointer;
  margin: 15px;
  padding: 10px 20px;
}

.filter:hover {
  background: #deebff;
}

.icon-filter {
  color: #0065fc;
  padding-right: 10px;
}

.info {
  align-items: center;
  display: flex;
  margin: 20px 0 10px 0;
}

.icon-info {
  border: solid 1px #f2f2f2;
  border-radius: 50%;
  color: #0065fc;
  font-size: 10px;
  margin-right: 15px;
  padding: 4px 8px;
}

.info p {
  margin: 0;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* HEBERGEMENT */

.section-hebergement {
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
  margin: 30px 0;
  padding: 30px 3%;
}

.title-hebergement {
  font-size: 1.2em;
  font-weight: 700;
  margin: 0;
}

.cards-hebergement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 10px 0;
}

.button {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

.card-hebergement {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  height: 200px;
  margin-bottom: 30px;
}

.card-hebergement a {
  color: #000000;
  margin: 0;
  text-decoration: none;
}

.card-hebergement img {
  border-radius: 15px 15px 0 0;
  height: 110px;
  object-fit: cover;
  padding: 2%;
  width: 96%;
}

/* CARDS HEBERGEMENT/TOPRATE */

.card-container {
  margin: 5px 10px;
}

.card-title {
  font-size: 0.9em;
  font-weight: 700;
  margin: 0;
}

.card-container p {
  font-size: 0.8em;
  font-weight: 600;
  margin: 5px 0;
}

.card-stars {
  width: 80px;
}

.star-active {
  color: #0065fc;
  width: 15%;
}

.star-inactive {
  color: #f2f2f2;
  width: 15%;
}

/* TOPRATE */

.section-toprate {
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  height: 100%;
  margin: 30px 0;
  padding: 30px 3%;
}

.title-toprate {
  display: flex;
  font-size: 1.2em;
  font-weight: 700;
  justify-content: space-between;
  margin: 0;
}

.icon-toprate {
  color: #0065fc;
  font-size: 1em;
}

.cards-toprate {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card-toprate {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 100%;
}

.cards-toprate a {
  color: #000000;
  margin: 0;
  text-decoration: none;
}

.cards-toprate a:not(:last-child) {
  margin-bottom: 30px;
}

.card-toprate > div {
  display: flex;
  flex-basis: 55%;
  flex-direction: column;
  justify-content: space-between;
}

.card-toprate img {
  border-radius: 20px 0 0 20px;
  height: 140px;
  object-fit: cover;
  padding: 5px;
  width: 40%;
}

/* ACTIVITIES */

.section-activities {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  margin: 30px 0;
}

.title-activities {
  font-size: 1.2em;
  font-weight: 700;
  margin: 0;
}

.cards-activities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}

.card-activities {
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  flex-basis: 22%;
  height: 450px;
}

.card-activities a {
  color: #000000;
  text-decoration: none;
}

.card-activities img {
  border-radius: 15px 15px 0 0;
  height: 370px;
  object-fit: cover;
  width: 100%;
}

.title-activity {
  font-size: 1em;
  font-weight: 700;
  margin: 20px 20px;
}

/* FOOTER */
footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  padding: 20px 50px;
}

.section-footer {
  flex-basis: 35%;
  padding-left: 20px;
}

.footer-title {
  font-weight: 700;
}

.section-footer ul {
  padding: 0;
}

.section-footer li {
  list-style: none;
  padding: 5px 0;
}

.section-footer a {
  color: #000000;
  text-decoration: none;
}

/* 
--------------------------------------------------------------------------
------------------------- 769px <= TABLET < 992px ------------------------
-------------------------------------------------------------------------- 
*/
@media (min-width: 769px) and (max-width: 992px) {
  /* MAIN (tablet) */
  .main-title {
    font-size: 1.4em;
  }

  .main-subtitle {
    font-size: 1em;
  }

  /* FILTER (tablet) */
  .filter {
    font-size: 0.9em;
    margin: 5px;
    padding: 10px;
  }

  .icon-filter {
    padding-right: 5px;
  }

  /* HEBERGEMENT (tablet) */
  .section-hebergement {
    flex-basis: 100%;
    padding: 30px 5%;
  }

  .card-hebergement {
    height: 170px;
  }

  .card-hebergement img {
    height: 90px;
  }

  /* CARDS (tablet) */
  .card-title {
    font-size: 0.8em;
  }

  .card-container p {
    font-size: 0.7em;
  }

  /* TOPRATE (tablet) */
  .section-toprate {
    flex-basis: 100%;
    padding: 30px 5%;
  }

  .cards-toprate {
    flex-direction: row;
    justify-content: space-between;
  }

  .cards-toprate a {
    flex-basis: 30%;
  }

  .card-toprate {
    height: 120px;
  }

  .card-toprate img {
    height: 110px;
  }

  /* ACTIVITIES (tablet) */

  .title-activities {
    font-size: 1.2em;
    margin: 0;
  }

  .card-activities {
    flex-basis: 23%;
    height: 270px;
  }

  .card-activities:not(:last-child) {
    margin-right: 40px;
  }

  .card-activities img {
    height: 75%;
  }

  .title-activity {
    font-size: 0.9em;
    margin: 10px 15px;
  }

  /* FOOTER (tablet) */
  .section-footer li {
    font-size: 0.9em;
  }
}

/* 
--------------------------------------------------------------------------
----------------------------- MOBILE <= 768px -----------------------------
-------------------------------------------------------------------------- 
*/
@media (max-width: 768px) {
  body {
    padding: 0;
  }

  /* SPACE BETWEEN EACH CARDS */
  .cards-toprate a:not(:last-child), .card-hebergement:not(:last-child), .card-activities:not(:last-child) {
    margin-bottom: 20px;
  }

  /* HEADER (mobile) */
  header {
    flex-direction: column;
    height: auto;
    padding: 0;
  }

  .logo {
    margin: 20px 0;
  }

  .nav-header,
  .nav-header ul {
    width: 100%;
  }

  .nav-header li {
    justify-content: center;
    padding: 10px 0;
    width: 100%;
  }

  .nav-header a {
    font-size: 1.1em;
  }

  .nav-header li:hover {
    border-bottom: solid 4px #0065fc;
    border-top: none;
  }

  .main-title {
    margin: 30px 30px 15px 30px;
  }

  .main-subtitle {
    margin: 0 30px;
  }

  /* SEARCHBAR (mobile) */
  .search-bar {
    margin: 30px;
  }

  .search-bar input {
    width: 215px;
  }

  .button-searchbar span {
    display: none;
  }

  /* FILTER (mobile) */
  .filters {
    flex-wrap: wrap;
    margin: 20px;
  }

  .filters-title {
    margin-left: 10px;
  }

  .filters > div {
    flex-basis: 100%;
    flex-wrap: wrap;
  }

  .filter {
    flex-basis: 35%;
    font-size: 0.7em;
    margin: 10px;
    padding: 10px;
  }

  .icon-filter {
    padding-right: 5px;
  }

  /* INFO (mobile) */
  .info {
    margin: 30px;
  }

  /* TOPRATE (mobile) */
  .section-toprate {
    border-radius: 0;
    flex-basis: 100%;
    margin: 0;
    order: 1;
    padding: 30px;
  }

  /* HEBERGEMENT (mobile) */
  .section-hebergement {
    background-color: #ffffff;
    flex-basis: 100%;
    margin: 0;
    order: 2;
    padding: 30px;
  }

  .cards-hebergement {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .card-hebergement img {
    border-radius: 20px 20px 0 0;
    height: 140px;
    padding: 1%;
    width: 98%;
  }

  .button {
    display: none;
  }

  /* ACTIVITIES (mobile) */
  .section-activities {
    flex-basis: 100%;
    order: 3;
    padding: 30px;
  }

  .cards-activities {
    flex-direction: column;
  }

  .card-activities img {
    height: 140px;
  }

  /* FOOTER (mobile) */
  footer {
    flex-direction: column;
    padding: 40px 30px;
  }

  .section-footer {
    flex-basis: 35%;
    padding-left: 0;
  }

  .footer-title {
    margin: 0;
  }

  .section-footer ul {
    margin: 10px 0 30px 0;
  }
}
