/* 992px <= DESKTOP <= 1400px */

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  max-width: 1400px;
  margin: auto;
  padding: 0;
  padding: 0 50px;
}

.prix {
  font-weight: 600;
}

/* HEADER */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 10vh;
  padding: 0 5px;
}

.logo {
  width: 61.09px;
  height: 19px;
}

.nav-header {
  height: 100%;
}

.nav-header ul {
  display: flex;

  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-header li {
  display: flex;
  list-style: none;
  align-items: center;

  padding: 0 20px;
}

.nav-header a {
  text-decoration: none;
  color: #000000;
}

.nav-header li:hover {
  border-top: solid 2px #0065fc;
}

.nav-header li:hover a {
  position: relative;
  bottom: 1px;

  font-weight: 500;
  color: #0065fc;
}

/* MAIN */

h1 {
  font-size: 1.5em;
  font-weight: 700;
}

h2 {
  font-size: 1.1em;
  font-weight: 400;
}

/* SEARCH BAR */

.search-bar {
  display: flex;
  height: 50px;
  margin: 15px 0;
}

.icon-searchbar {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 15px 0 0 15px;

  padding: 0 15px;
}

.search-bar input {
  font-size: 1em;
  font-weight: 700;
  height: 100%;

  padding: 0 15px;

  border: none;
  border-top: solid 2px #d9d9d9;
  border-bottom: solid 2px #d9d9d9;
}

.search-bar input::placeholder {
  color: #000000;
}

.search-bar input:focus {
  outline: none;
}

.button-searchbar {
  display: flex;
  align-items: center;
  font-size: 1em;
  height: 100%;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 0 20px;

  border: none;
  border-radius: 0 15px 15px 0;

  cursor: pointer;

  color: #ffffff;
  background-color: #0065fc;
}

.button-searchbar span {
  padding-left: 15px;
}

/* FILTER */

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 50px;

  margin: 20px 0;
  padding: 0;
  border: none;

  font-weight: 700;
}

.filters legend {
  float: right;
  font-size: 1.2em;
  margin-right: 20px;
}

.filters input {
  display: none;
}

.filter {
  margin: 15px;
  padding: 10px 20px;
  border: solid 2px #d9d9d9;
  border-radius: 20px;
  cursor: pointer;
}

.icon-filter {
  color: #0065fc;
  padding-right: 10px;
}

#economical:checked + label,
#family:checked + label,
#romantic:checked + label,
#pets-allowed:checked + label {
  background: #deebff;
}

.info {
  display: flex;
  align-items: center;
  font-size: 1em;
}

.icon-info {
  font-size: 10px;
  color: #0065fc;
  padding: 4px 8px;
  border: solid 1px #d9d9d9;
  border-radius: 50%;
  margin-right: 15px;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* HEBERGEMENT */

#section-hebergement {
  display: flex;
  flex-direction: column;
  flex-basis: 59%;
  background-color: #d9d9d9;
  border-radius: 20px;
  padding: 30px 40px;
}

.title-hebergement {
  font-size: 1.2em;
  font-weight: 700;
  margin: 0;
}

.cards-hebergement {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5em;

  margin: 30px 0 40px 0;
}

.button {
  text-decoration: none;
  font-weight: 700;
  color: #000000;
}

.card-herbegement {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  flex-basis: 30%;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.card-herbegement a {
  text-decoration: none;
  color: #000000;
  margin: 0;
}

.card-herbegement img {
  width: 96%;
  height: 120px;
  padding: 2%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.card-container {
  padding: 0 10px;
}

.card-herbegement h3 {
  font-size: 0.8em;
  font-weight: 700;
  margin: 0;
}

.card-herbegement p {
  font-size: 0.7em;
  font-weight: 600;
  margin-top: 3px;
}

.stars-hebergement {
  width: 80px;
  margin-top: 5px;
}

.star-active {
  color: #0065fc;
  width: 15%;
}

.star-inactive {
  color: #d9d9d9;
  width: 15%;
}

/* TOPRATE */

#section-toprate {
  display: flex;
  flex-direction: column;
  flex-basis: 23%;
  background-color: #d9d9d9;
  border-radius: 20px;
  height: 100%;

  padding: 30px 40px;
}

.title-toprate {
  display: flex;
  justify-content: space-between;
}

.title-toprate h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 700;
}

.icon-toprate {
  font-size: 1em;
  color: #0065fc;
}

.cards-toprate {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5em;

  margin-top: 30px;
}

.card-toprate {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  width: 100%;
  height: 150px;

  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.cards-toprate a {
  text-decoration: none;
  color: #000000;
  margin: 0;
}

.card-toprate > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-basis: 55%;
}

.card-toprate img {
  object-fit: cover;
  width: 40%;
  height: 140px;
  border-radius: 20px 0 0 20px;
  padding: 5px;
}

.card-toprate h3 {
  font-size: 0.8em;
  font-weight: 700;
  margin: 15px 5px 0 5px;
}

.card-toprate p {
  font-size: 0.7em;
  font-weight: 600;
  margin: 5px;
}

.stars-toprate {
  width: 80px;
  margin: 10px 5px;
}

/* ACTIVITIES */

#section-activities {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin: 30px 0;
}

.title-activities {
  margin: 0;
  font-size: 1.2em;
  font-weight: 700;
}

.cards-activities {
  display: flex;
  flex-direction: row;
  gap: 3em;
  margin: 20px 0;
}

.card-activities {
  flex-basis: 22%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 450px;
}

.card-activities a {
  text-decoration: none;
  color: #000000;
}

.card-activities img {
  width: 100%;
  height: 85%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.card-activities h3 {
  font-size: 0.9em;
  font-weight: 700;
  margin: 20px 30px;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;

  background-color: #d9d9d9;
  padding: 20px 50px;
}

.section-footer {
  flex-basis: 35%;
  padding-left: 20px;
}

.section-footer h2 {
  font-weight: 700;
}

.section-footer ul {
  padding: 0;
}

.section-footer li {
  list-style: none;
  padding: 5px 0px;
}

.section-footer a {
  text-decoration: none;
  color: #000000;
}

/* 768px <= TABLET < 992px */
@media (min-width: 768px) and (max-width: 991px) {
  /* MAIN (tablet) */
  h1 {
    font-size: 1.4em;
    font-weight: 700;
  }

  h2 {
    font-size: 1em;
    font-weight: 400;
  }

  /* FILTER (tablet) */
  .filters {
    margin: 0;
  }

  .filter {
    font-size: 0.9em;
    margin: 5px;
    padding: 10px;
  }

  .filters legend {
    font-size: 1.1em;
    margin-right: 10px;
  }

  .icon-filter {
    padding-right: 5px;
  }

  /* HERBEGEMENT (tablet) */
  #section-hebergement {
    flex-basis: 100%;

    margin: 10px 0;
    padding: 40px 10px;
  }

  .title-hebergement {
    margin: 0 0 0 20px;
  }

  .cards-hebergement {
    gap: 2em;
  }

  .card-herbegement {
    height: 170px;
  }

  .card-herbegement img {
    height: 90px;
  }

  .card-herbegement p {
    font-size: 0.6em;
  }

  .button {
    margin-left: 20px;
  }

  /* TOPRATE */
  #section-toprate {
    flex-basis: 100%;
    padding: 40px 30px;
  }

  .title-toprate {
    padding: 0 10px;
  }

  .cards-toprate {
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }

  .cards-toprate a {
    flex-basis: 30%;
  }

  .card-toprate {
    height: 120px;
  }

  .card-toprate img {
    height: 110px;
  }

  .card-toprate p {
    font-size: 0.6em;
  }

  /* ACTIVITIES */

  .title-activities {
    margin: 0;
    font-size: 1.2em;
  }

  .card-activities {
    flex-basis: 23%;
    height: 270px;
  }
  
  .card-activities img {
    height: 75%;
  }
  
  .card-activities h3 {
    align-items: center;
    font-size: 0.9em;
    font-weight: 700;
    margin: 10px 15px;
  }

  /* FOOTER */
  .section-footer li {
    font-size: 0.9em;
  }
}

/* MOBILE < 768px */
@media (max-width: 767px) {
  header {
    background-color: blue;
  }

  .button-searchbar span {
  display: none;
  }
}